*{
    background-color: #dfb376;
}
#nav {
    padding: 20px;
    position: fixed;
    width: 100%;
}
#enlaces {
    padding: 50px;
    width: 100%;
}
#inicio {
    border-bottom:solid 3px #784b0c;
    padding: auto;
}