.barra-horizontal {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.barra-horizontal a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

.barra-horizontal a:hover {
    background-color: #ddd;
    color: black;
}

#enlaces {
    padding: 100px;
    width: 100%;
}
#corpo{
    padding-left: 10%;
    padding-right: 10%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;
}
.grid-item {
    background-color: #2c2c2c;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    color: #ffffff;
}
#vid1 {
    width: 100%;
    alt: 100%;
}
#rev {
    width: 100%;
    alt: 100%;
}
#clasificacion {
    width: 100%;
    alt: 100%;
}
#hq {
    width: 100%;
    alt: 100%;
}
img {
    margin: auto;
}

#d31:hover {
    transform: scale(1.05);

}
#d32:hover {
    transform: scale(1.05);

}
#d33:hover {
    transform: scale(1.05);

}
#d34:hover {
    transform: scale(1.05);

}
div{
    transition: all 0.4s ease;
}

@media (max-width: 788px) {

.grid-container {grid-template-columns: 1fr;}
    
    
}